force-app/main/default/flows/ECT_Certificate_Review_Email_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Assignee_of_New_Review_Assignment</name>
        <label>Notify Assignee of New Review Assignment</label>
        <locationX>50</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Notify_State_POCs_that_Certificate_was_received_by_OFR</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Assigned_To__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NewAssignmentSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AssignmentNotification</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_FL_Certificate_Not_Assigned</name>
        <label>Notify FL Certificate Not Assigned</label>
        <locationX>1634</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Get_FL_Members.UserEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Certificate Not Assigned</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotAssignedBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_New_Assignee_of_Review_Assignment</name>
        <label>Notify New Assignee of Review Assignment</label>
        <locationX>314</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Assigned_To__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NewAssignmentSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AssignmentNotification</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Social_Media_Assignee_of_Review_Assignment</name>
        <label>Notify Social Media Assignee of Review Assignment</label>
        <locationX>578</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Notify_Social_Media_of_Review_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Assigned_To__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NewAssignmentSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AssignmentNotification</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Social_Media_of_Review_Assignment</name>
        <label>Notify Social Media of Review Assignment</label>
        <locationX>578</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Notify_State_POC_of_Social_Media_Posting</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>socialmedia@nara.gov</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Social Media Review Assignment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotifySocialMedia</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_State_POC_of_Social_Media_Posting</name>
        <label>Notify State POC of Social Media Posting</label>
        <locationX>578</locationX>
        <locationY>1224</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>POCemails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Certificate Posted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SocialMediaPostNotifyPOC</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_State_POCs_that_Certificate_was_received_by_OFR</name>
        <label>Notify State POCs that Certificate was received by OFR</label>
        <locationX>50</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>POCemails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>StatePOCNotificationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NewCertificateReceivecbyOFR</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>OFR_updated_Certificate_Comment</name>
        <label>OFR updated Certificate Comment</label>
        <locationX>842</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>POCemails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>OFR updated Certificate Comment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>OFRupdatedComment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_FL_Members_to_Send_Collection</name>
        <label>Add FL Members to Send Collection</label>
        <locationX>1634</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>FLEmails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_FL_Members.UserEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_FL_Certificate_Not_Assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_POC_emails_to_Collection</name>
        <label>Add POC emails to Collection</label>
        <locationX>666</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>POCemails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_State_POCs_to_Collection.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_State_POCs_to_Collection</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>NoActivePOC</name>
        <label>NoActivePOC</label>
        <locationX>1370</locationX>
        <locationY>600</locationY>
        <customErrorMessages>
            <errorMessage>No Active POCs have been identified for this State.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Active_POCs</name>
        <label>Active POCs</label>
        <locationX>974</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>NoActivePOC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_State_POC_information</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_State_POCs_to_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assigned</name>
        <label>Assigned</label>
        <locationX>1766</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Assigned</defaultConnectorLabel>
        <rules>
            <name>Not_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_FL_Members</targetReference>
            </connector>
            <label>Not Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Reassigned</name>
        <label>New or Reassigned?</label>
        <locationX>578</locationX>
        <locationY>900</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_To__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Assignee_of_New_Review_Assignment</targetReference>
            </connector>
            <label>New Assignment</label>
        </rules>
        <rules>
            <name>Changed_Assigned_To</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_To__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Assigned_To__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_To__r.ECT_User_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NARA Social Media</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_New_Assignee_of_Review_Assignment</targetReference>
            </connector>
            <label>Changed Assigned To</label>
        </rules>
        <rules>
            <name>Change_Assigned_To_Social_Media_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_To__r.ECT_User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NARA Social Media</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_To__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Assigned_To__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Social_Media_Assignee_of_Review_Assignment</targetReference>
            </connector>
            <label>Change Assigned To Social Media User</label>
        </rules>
        <rules>
            <name>Comment_Updated_by_OFR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Received_Comments__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Received_Comments__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Review_Comments__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Review_Comments__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.S508_Comments__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.S508_Comments__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Scan_Comments__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Scan_Comments__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SM_Comments__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SM_Comments__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OFR_updated_Certificate_Comment</targetReference>
            </connector>
            <label>Comment Updated by OFR</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <interviewLabel>ECT: Certificate Review Email Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ECT: Certificate Review Email Notifications</label>
    <loops>
        <name>Assign_State_POCs_to_Collection</name>
        <label>Assign State POCs to Collection</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <collectionReference>Get_State_POC_information</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_POC_emails_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_or_Reassigned</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_State_POC_information</name>
        <label>Get State POC information</label>
        <locationX>974</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_POCs</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>ECT_Contact_s_State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.State__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ECT_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ECT_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Electoral College Primary POC</stringValue>
            </value>
        </filters>
        <filters>
            <field>ECT_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Electoral College Alternate POC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <sortField>Email</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_s_State_Field</name>
        <label>Update Contact&apos;s State Field</label>
        <locationX>974</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Get_State_POC_information</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_s_State__c</field>
            <value>
                <elementReference>$Record.State__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contact_s_State_Field</targetReference>
        </connector>
        <object>ECT_Certificate_Review__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Not_Assigned_Within_2_Days</name>
            <connector>
                <targetReference>Assigned</targetReference>
            </connector>
            <label>Not Assigned Within 2 Days</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_FL_Members</name>
        <label>Get FL Members</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Add_FL_Members_to_Send_Collection</targetReference>
        </connector>
        <flowName>ECT_Create_Public_Group_Members_Email_Collection</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>AssignmentNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This is an automated notification to inform you that you have been assigned the {!$Record.Status__c} section of the {!$Record.State__r.Name} {!$Record.Certificate_Type__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>NewAssignmentSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Assignment for {!$Record.Status__c} of {!$Record.State__r.Name} {!$Record.Certificate_Type__c}</text>
    </textTemplates>
    <textTemplates>
        <name>NewCertificateReceivecbyOFR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This is an automated notification to inform you that the OFR has received the {!$Record.State__r.Name} {!$Record.Certificate_Type__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>NotAssignedBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This is an automated reminder that the {!$Record.State_Name__c} {!$Record.Certificate_Type__c} is still unassigned.</text>
    </textTemplates>
    <textTemplates>
        <name>NotifySocialMedia</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This is an automated notification to inform you that {!$Record.Assigned_To__r.FirstName} {!$Record.Assigned_To__r.LastName} has been assigned to announce that the {!$Record.State__r.Name} {!$Record.Certificate_Type__c} is now available on www.archives.gov/electoral-college/results/{!CurrentYear}</text>
    </textTemplates>
    <textTemplates>
        <name>OFRupdatedComment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This is an automated notification to inform you that the OFR has updated your {!$Record.State__r.Name} {!$Record.Certificate_Type__c} record.</text>
    </textTemplates>
    <textTemplates>
        <name>SocialMediaPostNotifyPOC</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This is an automated notification to inform you that the OFR posted your {!$Record.State__r.Name} {!$Record.Certificate_Type__c} to www.archives.gov/electoral-college/results/{!CurrentYear}</text>
    </textTemplates>
    <textTemplates>
        <name>StatePOCNotificationforNewCertificateReview</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This is an automated notification to inform you that the OFR has received the {!$Record.State__c} {!$Record.Certificate_Type__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>StatePOCNotificationSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.State__r.Name} {!$Record.Certificate_Type__c} received by OFR</text>
    </textTemplates>
    <variables>
        <name>FLEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POCemails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statePOCemailaddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
